.DS_Store
ios/WhatsApp/WhatsApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ios/WhatsApp/WhatsApp.xcodeproj/project.xcworkspace/xcuserdata/turac.xcuserdatad/UserInterfaceState.xcuserstate
ios/WhatsApp/WhatsApp.xcodeproj/xcuserdata/turac.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
