name: Go

on: [push, pull_request]

env:
  GOTOOLCHAIN: local

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go-version: ["1.25", "1.26"]
    name: Build ${{ matrix.go-version == '1.26' && '(latest)' || '(old)' }}

    steps:
    - uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go-version }}

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...

    - name: Install goimports
      run: |
        go install golang.org/x/tools/cmd/goimports@latest
        export PATH="$HOME/go/bin:$PATH"

    - name: Run pre-commit
      uses: pre-commit/action@v3.0.1
